In [1]:
import pandas as pd

In [2]:
apple = pd.read_csv('./datasets/apple.csv')
lemon = pd.read_csv('./datasets/lemon.csv')
bellpepper = pd.read_csv('./datasets/bellpepper.csv')
onion = pd.read_csv('./datasets/onion.csv')
pear = pd.read_csv('./datasets/pear.csv')
strawberry = pd.read_csv('./datasets/strawberry.csv')
tomato = pd.read_csv('./datasets/tomato.csv')

In [3]:
print (f'apple null count {apple.isnull().sum().sum()}')
print (f'lemon null count {lemon.isnull().sum().sum()}')
print (f'bellpepper null count {bellpepper.isnull().sum().sum()}')
print (f'onion null count {onion.isnull().sum().sum()}')
print (f'pear null count {pear.isnull().sum().sum()}')
print (f'strawberry null count {strawberry.isnull().sum().sum()}')
print (f'tomato null count {tomato.isnull().sum().sum()}')

apple null count 0
lemon null count 0
bellpepper null count 0
onion null count 0
pear null count 0
strawberry null count 0
tomato null count 0

In [4]:
frames = [apple, lemon, bellpepper, onion, pear, strawberry, tomato]

df = pd.concat(frames)
df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel9991,pixel9992,pixel9993,pixel9994,pixel9995,pixel9996,pixel9997,pixel9998,pixel9999,target
0,0,0,0,0,0,0,0,0,0,0,...,1,1,2,2,2,1,1,1,1,apple
1,48,62,94,123,127,159,193,169,137,133,...,43,48,54,56,55,56,62,69,73,apple
2,5,5,5,6,6,7,7,7,5,5,...,2,1,0,1,2,1,1,1,1,apple
3,118,109,96,85,76,68,60,55,55,47,...,61,44,23,8,2,3,3,4,4,apple
4,178,174,145,119,116,107,96,100,83,89,...,72,96,97,82,69,108,117,109,94,apple

In [7]:
7806+1988+2571+1987+4485+2555+3489

24881

#### I should have 24,881 rows

In [6]:
#check
df.shape

(24881, 10001)

#### I should have 7 distinct target categories

In [9]:
df['target'].unique()

array(['apple', 'lemon', 'bellpepper', 'onion', 'pear', 'strawberry',
       'tomato'], dtype=object)

In [10]:
#extra sanity check
df.isnull().sum().sum()

0

# Test

In [22]:
import numpy as np

In [23]:
data = np.linspace(0, 10, 20)
test = pd.DataFrame(data = data, columns = ['col'])

In [24]:
test

          col
0    0.000000
1    0.526316
2    1.052632
3    1.578947
4    2.105263
5    2.631579
6    3.157895
7    3.684211
8    4.210526
9    4.736842
10   5.263158
11   5.789474
12   6.315789
13   6.842105
14   7.368421
15   7.894737
16   8.421053
17   8.947368
18   9.473684
19  10.000000

In [25]:
test['anotherone'] = test['col']+1